<section class="body">
  <div data-aos="zoom-in" data-aos-delay="2000" data-aos-offset="100">
    <div class="container-fluid courses5">
      <section class="top-header" id="tophead">
        <div class="container-fluid" id="coursenav">
          <nav class="navbar navbar-expand-md navbar-light naving1">
            <div class="container-fluid">
              <a class="navbar-brand" href="../acadamy.html">
                <img
                  class="logo1 horizontal-logo"
                  src="../images/caramelacademy.png"
                  width="200px"
                  alt="forecastr logo"
                />
              </a>
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item naving-item">
                    <a
                      class="nav-link px-lg-4 font-weight-bold alink"
                      href="../index.html"
                      >IT Services Home</a
                    >
                  </li>
                  <li class="nav-item dropdown dropdowns naving-item">
                    <a
                      class="nav-link dropdown-toggle alink px-lg-4 drop-togg font-weight-bold"
                      href="#"
                      id="navbarDropdown2"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Categories
                    </a>
                    <div
                      class="dropdown-menu dropdown-menus show-drop"
                      aria-labelledby="navbarDropdown2"
                    >
                      <a
                        class="dropdown-item item-drop-cons"
                        href="uicourses.html"
                        ><span class="trans">UI Courses</span></a
                      >
                      <div class="dropdown-divider divider-drop-cons"></div>
                      <a
                        class="dropdown-item item-drop-cons"
                        href="backend.html"
                        >Back End</a
                      >
                      <div class="dropdown-divider divider-drop-cons"></div>
                      <a
                        class="dropdown-item item-drop-cons"
                        href="fullstack.html"
                        >Full Stack</a
                      >
                      <div class="dropdown-divider divider-drop-cons"></div>
                      <a
                        class="dropdown-item item-drop-cons"
                        href="functionaltesting.html"
                        >Functional Testing</a
                      >
                      <div class="dropdown-divider divider-drop-cons"></div>
                      <a
                        class="dropdown-item item-drop-cons"
                        href="mobility.html"
                        >Mobility</a
                      >
                      <div class="dropdown-divider divider-drop-cons"></div>
                      <a class="dropdown-item item-drop-cons" href="devops.html"
                        >DevOps</a
                      >
                      <div class="dropdown-divider divider-drop-cons"></div>
                      <a
                        class="dropdown-item item-drop-cons"
                        href="datascience.html"
                        >Data Science & AI/ML</a
                      >
                      <div class="dropdown-divider divider-drop-cons"></div>
                      <a class="dropdown-item item-drop-cons" href="cloud.html"
                        >Cloud Computing</a
                      >
                      <div class="dropdown-divider divider-drop-cons"></div>
                      <a class="dropdown-item item-drop-cons" href="cyber.html"
                        >Cyber Security</a
                      >
                      <div class="dropdown-divider divider-drop-cons"></div>
                      <a
                        class="dropdown-item item-drop-cons"
                        href="digital.html"
                        >Digital Marketing</a
                      >
                      <div class="dropdown-divider divider-drop-cons"></div>
                      <a class="dropdown-item item-drop-cons" href="erp.html"
                        >ERP</a
                      >
                      <div class="dropdown-divider divider-drop-cons"></div>
                      <a class="dropdown-item item-drop-cons" href="it.html"
                        >IT</a
                      >
                      <div class="dropdown-divider divider-drop-cons"></div>
                      <a
                        class="dropdown-item item-drop-cons"
                        href="itcertification.html"
                        >IT Certifications</a
                      >
                      <div class="dropdown-divider divider-drop-cons"></div>
                      <a
                        class="dropdown-item item-drop-cons"
                        href="../coursedetails.html"
                        >All Courses</a
                      >
                    </div>
                  </li>

                  <li class="nav-item naving-item">
                    <a
                      class="nav-link alink px-lg-4 font-weight-bold"
                      href="../nodeindexcontactform/contactform.html"
                      >Contact Us</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </section>

      <h1 class="sub-head">SUB PROGRAMS</h1>
      <!---section1-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 ccontent">
            <h3 class="container is-fluid">BACK END</h3>
            <p class="container is-fluid">
              Backend development (also stylized as back-end or back end
              development) is the skill that powers the web. ... Backend
              development languages handle the 'behind-the-scenes' functionality
              of web applications. It's code that connects the web to a
              database, manages user connections, and powers the web application
              itself.
            </p>
          </div>
          <div class="col-lg-4 cimage">
            <img class="image" />
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row" id="cards1">
          <div class="coursefirst">
            <div class="coursesecond">
              <a href="coursespage/java.html"
                ><img id="coursesimg" src="../images/java1.jpg"
              /></a>
            </div>
            <div class="coursethird">
              <p>JAVA</p>
            </div>
          </div>

          <div class="coursefirst">
            <div class="coursesecond">
              <a href="coursespage/.net.html"
                ><img id="coursesimg" src="../images/.net2.jpg"
              /></a>
            </div>
            <div class="coursethird">
              <p>.NET</p>
            </div>
          </div>
          <div class="coursefirst">
            <div class="coursesecond">
              <a href="coursespage/nodejs.html"
                ><img id="coursesimg" src="../images/nodejs1.png"
              /></a>
            </div>
            <div class="coursethird">
              <p>Node JS</p>
            </div>
          </div>
          <div class="coursefirst">
            <div class="coursesecond">
              <a href="coursespage/ruby.html"
                ><img id="coursesimg" src="../images/ruby1.jpg"
              /></a>
            </div>
            <div class="coursethird">
              <p>Ruby</p>
            </div>
          </div>
          <div class="coursefirst">
            <div class="coursesecond">
              <a href="coursespage/python.html"
                ><img id="coursesimg" src="../images/python1.jpg"
              /></a>
            </div>
            <div class="coursethird">
              <p>Python</p>
            </div>
          </div>
          <!-- start -->
        </div>
      </div>
    </div>

    <!---footer section start--->

    <!---------------------FOOTER STARTS--------------------->
    <section class="footer-section bg-lightgrey" id="foot-sec">
      <div class="contai">
        <div class="footer text-center">
          <div>
            <div class="row mb-5">
              <div class="col-12">
                <p
                  class="mb-0"
                  id="socialmedia1"
                  style="overflow-y: hidden; padding-top: 40px;"
                >
                  <a href="https://www.facebook.com/caramelacademy/" class="p-2"
                    ><span
                      class="fa fa-facebook-square"
                      style="font-size: 36px; color: #292c7d;"
                    ></span
                  ></a>
                  <a href="https://twitter.com/caramelacademy" class="p-2"
                    ><span
                      class="fa fa-twitter-square"
                      style="font-size: 36px; color: #292c7d;"
                    ></span
                  ></a>
                  <a
                    href="https://www.instagram.com/caramelitacademy/"
                    class="p-2"
                    ><span
                      class="fa fa-instagram"
                      style="font-size: 36px; color: #292c7d;"
                    ></span
                  ></a>
                  <a
                    href="https://www.linkedin.com/company/37846486/admin/"
                    class="p-2"
                    ><span
                      class="fa fa-linkedin-square"
                      style="font-size: 36px; color: #292c7d;"
                    ></span
                  ></a>
                  <a href="https://in.pinterest.com/caramelacademy/" class="p-2"
                    ><span
                      class="fa fa-pinterest-square"
                      style="font-size: 36px; color: #292c7d;"
                    ></span
                  ></a>
                  <a
                    href="https://api.whatsapp.com/send?phone=+918886660462&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202."
                    class="p-2"
                    ><span
                      class="fa fa-whatsapp"
                      style="font-size: 36px; color: #292c7d;"
                    ></span
                  ></a>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="mb-0" id="foter" style="font-size: 18px;">
                  Copyright &copy;
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  All rights reserved By Caramel IT Services Pvt. Ltd.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
  </a> -->
    <!-------------------FOOTER END-------------------------->
  </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
