@import "../../main-styles.scss";

.navbar {
  background-color: $blue;
  min-height: 86px;
}

.navbar-menu {
  margin-left: 45%;
}
a {
  color: white;
  font-family: Montserrat, sans-serif;
  padding: 1.5rem;
  font-weight: 700;
}
a:hover {
  background-color: $blue;
  color: $yellow;
}
.navbar-burger {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
  width: 30px;
  min-height: 30px;
  font-size: larger;
}
.is-active {
  margin-left: 0;
  background-color: $blue;
  color: white;
  width: 100%;
  a:hover {
    background-color: $blue;
    color: $yellow;
  }
}
img {
  background-image: url("../../images/caramelacademy.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 70px !important;
  background-color: white;
  min-width: 200px;
  border-radius: 50px 0 0 50px;
}
.academy {
  padding: 0;
}
