<section class="tabsection">
  <div class="tabs">
    <input type="radio" name="tabs" id="tabone" checked="checked" />
    <label for="tabone"><h3>All Courses</h3> </label>
    <div class="tab">
      <div class="container is-fluid">
        <div class="columns is-mobile">
          <div class="course column">
            <div class="sub">
              <img src="../../images/core ui.jpeg" />
            </div>
            <div class="sub1">
              <h5>CoreUI</h5>

              <a href="courses/coursespage/coreui.html"
                ><button id="read">KNOW MORE</button></a
              >
            </div>
          </div>
          <div class="course column">
            <div class="sub">
              <img src="../../images/core ui.jpeg" />
            </div>
            <div class="sub1">
              <h5>CoreUI</h5>

              <a href="courses/coursespage/coreui.html"
                ><button id="read">KNOW MORE</button></a
              >
            </div>
          </div>
          <div class="course column">
            <div class="sub">
              <img src="../../images/core ui.jpeg" />
            </div>
            <div class="sub1">
              <h5>CoreUI</h5>

              <a href="courses/coursespage/coreui.html"
                ><button id="read">KNOW MORE</button></a
              >
            </div>
          </div>
          <div class="course column">
            <div class="sub">
              <img src="../../images/core ui.jpeg" />
            </div>
            <div class="sub1">
              <h5>CoreUI</h5>

              <a href="courses/coursespage/coreui.html"
                ><button id="read">KNOW MORE</button></a
              >
            </div>
          </div>
        </div>
        <div class="columns is-mobile">
          <div class="course column">
            <div class="sub">
              <img src="../../images/core ui.jpeg" />
            </div>
            <div class="sub1">
              <h5>CoreUI</h5>

              <a href="courses/coursespage/coreui.html"
                ><button id="read">KNOW MORE</button></a
              >
            </div>
          </div>
          <div class="course column">
            <div class="sub">
              <img src="../../images/core ui.jpeg" />
            </div>
            <div class="sub1">
              <h5>CoreUI</h5>

              <a href="courses/coursespage/coreui.html"
                ><button id="read">KNOW MORE</button></a
              >
            </div>
          </div>
          <div class="course column">
            <div class="sub">
              <img src="../../images/core ui.jpeg" />
            </div>
            <div class="sub1">
              <h5>CoreUI</h5>

              <a href="courses/coursespage/coreui.html"
                ><button id="read">KNOW MORE</button></a
              >
            </div>
          </div>
          <div class="course column">
            <div class="sub">
              <img src="../../images/core ui.jpeg" />
            </div>
            <div class="sub1">
              <h5>CoreUI</h5>

              <a href="courses/coursespage/coreui.html"
                ><button id="read">KNOW MORE</button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <input type="radio" name="tabs" id="tabtwo" />
    <label for="tabtwo"><h3>Popular Courses</h3> </label>
    <div class="tab">
      <div class="container is-fluid">
        <div class="columns is-mobile">
          <div class="course column">
            <div class="sub">
              <img src="../../images/core ui.jpeg" />
            </div>
            <div class="sub1">
              <h5>CoreUI</h5>

              <a href="courses/coursespage/coreui.html"
                ><button id="read">KNOW MORE</button></a
              >
            </div>
          </div>
          <div class="course column">
            <div class="sub">
              <img src="../../images/core ui.jpeg" />
            </div>
            <div class="sub1">
              <h5>CoreUI</h5>

              <a href="courses/coursespage/coreui.html"
                ><button id="read">KNOW MORE</button></a
              >
            </div>
          </div>
          <div class="course column">
            <div class="sub">
              <img src="../../images/core ui.jpeg" />
            </div>
            <div class="sub1">
              <h5>CoreUI</h5>

              <a href="courses/coursespage/coreui.html"
                ><button id="read">KNOW MORE</button></a
              >
            </div>
          </div>
          <div class="course column">
            <div class="sub">
              <img src="../../images/core ui.jpeg" />
            </div>
            <div class="sub1">
              <h5>CoreUI</h5>

              <a href="courses/coursespage/coreui.html"
                ><button id="read">KNOW MORE</button></a
              >
            </div>
          </div>
        </div>
        <div class="columns is-mobile">
          <div class="course column">
            <div class="sub">
              <img src="../../images/core ui.jpeg" />
            </div>
            <div class="sub1">
              <h5>CoreUI</h5>

              <a href="courses/coursespage/coreui.html"
                ><button id="read">KNOW MORE</button></a
              >
            </div>
          </div>
          <div class="course column">
            <div class="sub">
              <img src="../../images/core ui.jpeg" />
            </div>
            <div class="sub1">
              <h5>CoreUI</h5>

              <a href="courses/coursespage/coreui.html"
                ><button id="read">KNOW MORE</button></a
              >
            </div>
          </div>
          <div class="course column">
            <div class="sub">
              <img src="../../images/core ui.jpeg" />
            </div>
            <div class="sub1">
              <h5>CoreUI</h5>

              <a href="courses/coursespage/coreui.html"
                ><button id="read">KNOW MORE</button></a
              >
            </div>
          </div>
          <div class="course column">
            <div class="sub">
              <img src="../../images/core ui.jpeg" />
            </div>
            <div class="sub1">
              <h5>CoreUI</h5>

              <a href="courses/coursespage/coreui.html"
                ><button id="read">KNOW MORE</button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
