<div class="topsetion columns is-desktop">
  <div class="text column">
    <h1>DRIVE YOUR</h1>
    <h2 class="h2">TRANSFORMATION WITH US</h2>
    <p>
      Be the first person to transform yourself with our unique & world class
      corporate level trainings & industry specific real time scenario based
      hands-on assignments
    </p>
    <div class="learn3">
      <a href="#learnmore" class="express-btn">LEARN MORE</a>
      <a href="broouchure.pdf" download="" class="banner2">DOWNLOAD</a>
    </div>
  </div>
  <div class="image column">
    <img />
  </div>
</div>
