<section class="dropingSection">
  <div class="droperSection">
    <div class="columns is-mobile">
      <div class="column is-four-fifths has-text-left">
        <div class="columns">
          <img class="column image" />
          <h1 class="column">WHY CARAMEL IT</h1>
        </div>
      </div>
      <div class="column has-text-right">
        <div class="dropdown is-right has-text-right">
          <div class="dropdown-trigger has-text-right">
            <button
              class="button has-text-left"
              aria-haspopup="true"
              aria-controls="dropdown-menu3"
            >
              <span class="showmore">Show More</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
            <div class="dropdown-menu" id="dropdown-menu3" role="menu"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
