<div class="container is-fluid top-section">
  <div class="columns trasnsform">
    <div class="column is-12">
      <h1
        id="h"
        style="
          font-weight: bold;
          letter-spacing: 2px;
          font-size: 40px;
          margin-top: 43px;
          margin-left: 17px;
          text-align: center;
          color: white;
        "
      >
        Drive Your Transformation With Us
      </h1>
      <p
        id="programpara"
        style="
          text-align: center;
          margin-left: 16px;
          font-weight: bold;
          padding-top: 10px;
          color: white;
        "
      >
        Collaboration Platform For All Your Technical Training Needs.<br />
        <span style="color: #07ef07;">Join Us Today.</span>
      </p>
    </div>
  </div>
  <div class="columns program">
    <div class="column is-12">
      <div class="first">
        <div class="ruby-menu-demo-header">
          <!-- ########################### -->
          <!-- START: RUBY HORIZONTAL MENU -->
          <div class="ruby-wrapper">
            <ul class="ruby-menu">
              <li class="ruby-menu-mega-blog">
                <a href="program.html">Software Development</a>
                <div style="height: 269.359px;" class="">
                  <ul class="ruby-menu-mega-blog-nav">
                    <li class="ruby-active-menu-item">
                      <a href="#">Development</a>
                      <div
                        class="ruby-grid ruby-grid-lined"
                        style="height: 264.359px;"
                      >
                        <div class="ruby-row">
                          <div class="ruby-col-3">
                            <div class="second">
                              <div class="third">
                                <a href="courses/uicourses.html"
                                  ><img src="../../images/core ui.jpeg"
                                /></a>
                              </div>
                              <div class="four">
                                <p>CoreUI</p>
                              </div>
                            </div>
                          </div>

                          <div class="ruby-col-3">
                            <div class="second">
                              <div class="third">
                                <a href="courses/backend.html"
                                  ><img src="images/backend2.jpg"
                                /></a>
                              </div>
                              <div class="four">
                                <p>Back End</p>
                              </div>
                            </div>
                          </div>

                          <div class="ruby-col-3">
                            <div class="second">
                              <div class="third">
                                <a href="courses/fullstack.html"
                                  ><img src="images/fullstack1.jpg"
                                /></a>
                              </div>
                              <div class="four">
                                <P>Full Stack</P>
                              </div>
                            </div>
                          </div>

                          <div class="ruby-col-3">
                            <div class="second">
                              <div class="third">
                                <a href="courses/functionaltesting.html"
                                  ><img src="images/functionaltesting.png"
                                /></a>
                              </div>
                              <div class="four">
                                <p>Functional Testing</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <span class="ruby-dropdown-toggle"></span>
                    </li>
                    <li class="ruby-active-menu-item">
                      <a href="#">Data Science</a>
                      <div
                        class="ruby-grid ruby-grid-lined"
                        style="height: 264.359px;"
                      >
                        <div class="ruby-row">
                          <div class="ruby-col-3">
                            <div class="second">
                              <div class="third">
                                <a href="courses/datascience.html"
                                  ><img src="images/datascience1.jpg"
                                /></a>
                              </div>
                              <div class="four">
                                <P>Data Science & AI/ML</P>
                              </div>
                            </div>
                          </div>
                          <div class="ruby-col-3">
                            <div class="second">
                              <div class="third">
                                <a href="courses/mobility.html"
                                  ><img src="images/mobility1.jpg"
                                /></a>
                              </div>
                              <div class="four">
                                <P>Mobility</P>
                              </div>
                            </div>
                          </div>

                          <div class="ruby-col-3">
                            <div class="second">
                              <div class="third">
                                <a href="courses/devops.html"
                                  ><img src="images/devops1.jpg"
                                /></a>
                              </div>
                              <div class="four">
                                <P>DevOps</P>
                              </div>
                            </div>
                          </div>

                          <div class="ruby-col-3">
                            <div class="second">
                              <div class="third">
                                <a href="courses/cloud.html"
                                  ><img src="images/cloudcomputing1.jpg"
                                /></a>
                              </div>
                              <div class="four">
                                <P>Cloud Computing</P>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <span class="ruby-dropdown-toggle"></span>
                    </li>
                    <li class="ruby-active-menu-item">
                      <a href="#">Cyber Security and Digital marketing</a>
                      <div
                        class="ruby-grid ruby-grid-lined"
                        style="height: 264.359px;"
                      >
                        <div class="ruby-row">
                          <div class="ruby-col-3">
                            <div class="second">
                              <div class="third">
                                <a href="courses/cyber.html"
                                  ><img src="images/cyber.jpg"
                                /></a>
                              </div>
                              <div class="four">
                                <p>Cyber Security</p>
                              </div>
                            </div>
                          </div>

                          <div class="ruby-col-3">
                            <div class="second">
                              <div class="third">
                                <a href="courses/digital.html"
                                  ><img src="images/digi1.jpg"
                                /></a>
                              </div>
                              <div class="four">
                                <p>Digital Marketing</p>
                              </div>
                            </div>
                          </div>

                          <div class="ruby-col-3">
                            <div class="second">
                              <div class="third">
                                <a href="courses/erp.html"
                                  ><img src="images/erp2.jpg"
                                /></a>
                              </div>
                              <div class="four">
                                <p>ERP</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <span class="ruby-dropdown-toggle"></span>
                    </li>
                    <li class="ruby-active-menu-item">
                      <a href="#">IT</a>
                      <div
                        class="ruby-grid ruby-grid-lined"
                        style="height: 264.359px;"
                      >
                        <div class="ruby-row">
                          <div class="ruby-col-3">
                            <div class="second">
                              <div class="third">
                                <a href="courses/it.html"
                                  ><img src="images/IT2.jpg"
                                /></a>
                              </div>
                              <div class="four">
                                <p>IT</p>
                              </div>
                            </div>
                          </div>

                          <div class="ruby-col-3">
                            <div class="second">
                              <div class="third">
                                <a href="courses/itcertification.html"
                                  ><img src="images/it.jpeg"
                                /></a>
                              </div>
                              <div class="four">
                                <p>IT Certifications</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <span class="ruby-dropdown-toggle"></span>
                    </li>
                  </ul>
                </div>
                <span class="ruby-dropdown-toggle"></span>
              </li>
              <li class="ruby-menu-mega-blog">
                <a href="program.html">Business Strategy</a>
                <div style="height: 269.359px;" class="">
                  <ul class="ruby-menu-mega-blog-nav"></ul>
                </div>
                <span class="ruby-dropdown-toggle"></span>
              </li>
            </ul>
          </div>
          <!-- END:   RUBY HORIZONTAL MENU -->
          <!-- ########################### -->
        </div>

        <!-- <div class="owl-carousel owl-theme" id="slider">	
        
        
        
        
        
        

    

        
    
    
        
    
        
    


        </div> -->
      </div>
    </div>
  </div>
</div>
