* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
.topic {
  display: flex;
  justify-content: center;
  text-align: center;
}
.topic h1 {
  position: relative;
  padding-top: 5%;
  padding-bottom: 0;
  margin-bottom: 20px;
  padding-right: auto;
  font-size: 2.5rem;
  color: #fc5185;
  text-align: center;
  border-bottom: 2px solid #0e153a;
  width: 40vw;
}
.main-container {
  height: 60vh;
  width: 50%;
  background: url(../../images/bg-para.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.description {
  height: 60vh;
  position: absolute;
  overflow: auto;
  color: white;
  right: 0px;
  width: 50%;
  padding: 5% 5%;
  background-color: #0e153a;
  text-align: center;
}

.coursefirst {
  width: 15%;
  -webkit-box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  border-bottom: 2px solid rgb(0, 0, 0);
}
.coursefirst:hover {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.9);
  transform: translateY(-5.3px);
  transition-duration: 0.8s;
}
.coursesimg {
  width: 100%;
  height: 100px;
}
.coursethird {
  width: 100%;
  height: auto;
}
.coursethird p {
  font-weight: bold;
  text-align: center;
}
.show-drop {
  height: 300px;
  overflow: scroll;
}
.coursefooter a {
  color: #292c7d;
}
#cards1 {
  margin-left: 5%;
}
