<div class="acaheader" id="topheader">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-light navbar-light">
      <!-- Brand-->
      <a class="navbar-brand" href="#"
        ><img src="images/caramelacademy.png" width="200px" height="70px"
      /></a>

      <!-- Toggler/collapsibe Button -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto font-weight-bold">
          <li class="nav-item">
            <a class="nav-link px-lg-4" href="#">Categories</a>
          </li>
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search Course"
              aria-label="Search"
            />
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
          <!-- <li class="nav-item">
              <a class="nav-link px-lg-4" href="#">CORPORATES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-lg-4" href="#">UNIVERSITIES</a>
            </li>-->
          <li class="nav-item">
            <a
              class="nav-link px-lg-4"
              href="nodecontactform/acadamycontact.html"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="topic">
  <h1>SOFTWARE DEVELOPMENT</h1>
</div>

<div class="main-container">
  <span class="description"
    ><h3>ABOUT THE PROGRAM</h3>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p></span
  >
</div>

<div class="container-fluid">
  <div class="row" id="cards1">
    <div class="coursefirst">
      <div class="coursesecond">
        <a href="courses/uicourses.html"
          ><img class="coursesimg" src="images/core ui.jpeg"
        /></a>
      </div>
      <div class="coursethird">
        <p>CoreUI</p>
      </div>
    </div>
    <div class="coursefirst">
      <div class="coursesecond">
        <a href="courses/backend.html"
          ><img class="coursesimg" src="images/backend2.jpg"
        /></a>
      </div>
      <div class="coursethird">
        <p>Back End</p>
      </div>
    </div>
    <div class="coursefirst">
      <div class="coursesecond">
        <a href="courses/fullstack.html"
          ><img class="coursesimg" src="images/fullstack1.jpg"
        /></a>
      </div>
      <div class="coursethird">
        <P>Full Stack</P>
      </div>
    </div>
    <div class="coursefirst">
      <div class="coursesecond">
        <a href="courses/functionaltesting.html"
          ><img class="coursesimg" src="images/functionaltesting.png"
        /></a>
      </div>
      <div class="coursethird">
        <p>Functional Testing</p>
      </div>
    </div>
    <div class="coursefirst">
      <div class="coursesecond">
        <a href="courses/mobility.html"
          ><img class="coursesimg" src="images/mobility1.jpg"
        /></a>
      </div>
      <div class="coursethird">
        <P>Mobility</P>
      </div>
    </div>
    <div class="coursefirst">
      <div class="coursesecond">
        <a href="courses/devops.html"
          ><img class="coursesimg" src="images/devops1.jpg"
        /></a>
      </div>
      <div class="coursethird">
        <P>Data Science & AI/ML</P>
      </div>
    </div>
    <div class="coursefirst">
      <div class="coursesecond">
        <a href="courses/cloud.html"
          ><img class="coursesimg" src="images/cloudcomputing1.jpg"
        /></a>
      </div>
      <div class="coursethird">
        <P>Cloud Computing</P>
      </div>
    </div>
    <div class="coursefirst">
      <div class="coursesecond">
        <a href="courses/cyber.html"
          ><img class="coursesimg" src="images/cyber.jpg"
        /></a>
      </div>
      <div class="coursethird">
        <p>Cyber Security</p>
      </div>
    </div>
    <div class="coursefirst">
      <div class="coursesecond">
        <a href="courses/digital.html"
          ><img class="coursesimg" src="images/digi1.jpg"
        /></a>
      </div>
      <div class="coursethird">
        <p>Digital Marketing</p>
      </div>
    </div>
    <div class="coursefirst">
      <div class="coursesecond">
        <a href="courses/erp.html"
          ><img class="coursesimg" src="images/erp2.jpg"
        /></a>
      </div>
      <div class="coursethird">
        <p>ERP</p>
      </div>
    </div>
    <div class="coursefirst">
      <div class="coursesecond">
        <a href="courses/it.html"
          ><img class="coursesimg" src="images/IT2.jpg"
        /></a>
      </div>
      <div class="coursethird">
        <p>IT</p>
      </div>
    </div>
    <div class="coursefirst">
      <div class="coursesecond">
        <a href="courses/itcertification.html"
          ><img class="coursesimg" src="images/it.jpeg"
        /></a>
      </div>
      <div class="coursethird">
        <p>IT Certifications</p>
      </div>
    </div>
  </div>
</div>

<section class="footer-section bg-light" id="foot-sec">
  <div class="cont">
    <div class="footer py-5 text-center">
      <div class="cont">
        <div class="row mb-5">
          <div class="col-12">
            <p class="mb-0">
              <a
                href="https://www.facebook.com/caramelitserviceshyderabad/"
                class="p-2"
                ><span
                  class="fa fa-facebook-square social-icons"
                  style="font-size: 36px; color: #731a14;"
                ></span
              ></a>
              <a href="https://twitter.com/ItCaramel" class="p-2"
                ><span
                  class="fa fa-twitter-square social-icons"
                  style="font-size: 36px; color: #731a14;"
                ></span
              ></a>
              <a href="https://www.instagram.com/caramelitservices/" class="p-2"
                ><span
                  class="fa fa-instagram social-icons"
                  style="font-size: 36px; color: #731a14;"
                ></span
              ></a>
              <a
                href="https://www.linkedin.com/in/caramel-it-services/"
                class="p-2"
                ><span
                  class="fa fa-linkedin-square social-icons"
                  style="font-size: 36px; color: #731a14;"
                ></span
              ></a>
              <a href="https://in.pinterest.com/caramelitservices/" class="p-2"
                ><span
                  class="fa fa-pinterest-square social-icons"
                  style="font-size: 36px; color: #731a14;"
                ></span
              ></a>
              <a
                href="https://api.whatsapp.com/send?phone=+918886660461&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202."
                class="p-2"
                ><span
                  class="fa fa-whatsapp"
                  style="font-size: 36px; color: #731a14;"
                ></span
              ></a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="mb-5" style="font-size: 20px;">
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved By Caramel IT Services Pvt. Ltd.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
